.fresh { color: green; }
.getting-stale { color: yellow; }
.stale { color: orange; }
.out-of-date { color: red; }

.message-info,
.message-warning,
.message-error {
    border-radius: 3px;
    color: #fff;
    padding: 2em;
}


.message-info {
    background: rgb(66, 184, 221); /* light blue */
}

.message-warning {
    background: rgb(223, 117, 20); /* orange */
}

.message-error {
    background: rgb(202, 60, 60); /* error */
}
