.fresh { color: green; }
.getting-stale { color: yellow; }
.stale { color: orange; }
.out-of-date { color: red; }

.info {
    background: #1f8dd6 none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    padding: 0.3em 1em;
}
